<div data-controller="performance-monitor" class="performance-metrics">
  <% if @show_in_ui %>
    <div class="performance-metrics__container">
      <h3 class="performance-metrics__title">Performance Metrics</h3>
      <div data-performance-monitor-target="result" class="performance-metrics__results"></div>
    </div>
  <% end %>
</div>