@utility bg-surface {
  background: var(--color-surface);
}

@utility bg-surface-hover {
  background: var(--color-surface-hover);
}

@utility bg-surface-inset {
  background: var(--color-surface-inset);
}

@utility bg-surface-inset-hover {
  background: var(--color-surface-inset);
}

@utility bg-container {
  background: var(--color-container);
}

@utility bg-container-hover {
  background: var(--color-container-hover);
}

@utility bg-container-inset {
  background: var(--color-container-inset);
}

@utility bg-container-inset-hover {
  background: var(--color-container-inset);
}

@utility bg-inverse {
  background: var(--color-text-primary);
}

@utility bg-inverse-hover {
  background: var(--color-text-secondary);
}

@utility bg-overlay {
  background-color: var(--color-alpha-black-500);
}

@utility bg-loader {
  background: var(--color-surface-inset);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
