@layer utilities {
  .bg-surface {
    background: var(--color-surface);
  }

  .bg-surface-hover {
    background: var(--color-surface-hover);
  }

  .bg-surface-inset {
    background: var(--color-surface-inset);
  }

  .bg-surface-inset-hover {
    background: var(--color-surface-inset);
  }

  .bg-container {
    background: var(--color-container);
  }

  .bg-container-hover {
    background: var(--color-container-hover);
  }

  .bg-container-inset {
    background: var(--color-container-inset);
  }

  .bg-container-inset-hover {
    background: var(--color-container-inset);
  }

  .bg-inverse {
    background: var(--color-text-primary);
  }

  .bg-inverse-hover {
    background: var(--color-text-secondary);
  }

  .bg-overlay {
    background-color: var(--color-alpha-black-500);
  }

  .bg-loader {
    background: var(--color-surface-inset);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}
