@layer utilities {
  .fg-gray {
    color: var(--color-text-secondary);
  }

  .fg-contrast {
    color: var(--color-text-tertiary);
  }

  .fg-inverse {
    color: var(--color-text-inverse);
  }

  .fg-primary {
    color: var(--color-text-primary);
  }

  .fg-primary-variant {
    color: var(--color-text-primary);
  }

  .fg-secondary {
    color: var(--color-text-secondary);
  }

  .fg-secondary-variant {
    color: var(--color-text-tertiary);
  }

  .fg-subdued {
    color: var(--color-text-subdued);
  }
}