@utility text-primary {
<<<<<<< HEAD
  @apply text-gray-900;

  @variant theme-dark {
   @apply text-white;
  }
}

@utility text-inverse {
  @apply text-white;

  @variant theme-dark {
    @apply text-gray-900;
  }
}

@utility text-secondary {
  @apply text-gray-500;

  @variant theme-dark {
    @apply text-gray-400;
  }
}

@utility text-subdued {
  @apply text-gray-400;

  @variant theme-dark {
    @apply text-gray-600;
  }
}

@utility text-link {
  @apply text-blue-600;

  @variant theme-dark {
    @apply text-blue-500;
  }
=======
  color: var(--color-text-primary);
}

@utility text-inverse {
  color: var(--color-text-inverse);
}

@utility text-secondary {
  color: var(--color-text-secondary);
}

@utility text-subdued {
  color: var(--color-text-subdued);
}

@utility text-link {
  color: var(--color-text-link);
>>>>>>> feature/modernation-design
}