@layer utilities {
  .text-primary {
    color: var(--color-text-primary);
  }

  .text-inverse {
    color: var(--color-text-inverse);
  }

  .text-secondary {
    color: var(--color-text-secondary);
  }

  .text-subdued {
    color: var(--color-text-subdued);
  }

  .text-link {
    color: var(--color-text-link);
  }
}