<%# locals: (accounts:) %>

<%= render Ui::DisclosureComponent.new(
  class: "bg-card text-card-foreground rounded-lg"
) do |disclosure| %>
  <% disclosure.with_summary_content do %>
    <div class="flex items-center gap-2">
      <div class="flex items-center justify-center h-8 w-8 rounded-full bg-muted">
        <%= render Ui::IconComponent.new(icon: "folder-pen", size: :md) %>
      </div>
      <span class="text-sm font-medium"><%= t(".other_accounts") %></span>
    </div>
  <% end %>
  
  <div class="space-y-4 mt-4">
    <%= render "accounts/index/account_groups", accounts: accounts %>
  </div>
<% end %>
