<%# locals: (chat:) %>

<nav class="flex items-center justify-between">
  <% path = chat.new_record? ? chats_path : chats_path(previous_chat_id: chat.id) %>

  <div class="flex items-center gap-3 grow">
    <%= render Ui::ButtonComponent.new(
      id: "chat-nav-back",
      variant: :ghost,
      size: :sm,
      icon: "menu",
      href: path,
      options: { data: { turbo_frame: chat_frame } }
    ) %>

    <div class="grow">
      <%= render "chats/chat_title", chat: chat, ctx: "chat" %>
    </div>
  </div>

  <div class="flex items-center gap-2">
    <%= render Ui::ThemeToggleComponent.new(size: :sm) %>
    
    <%= render Ui::MenuComponent.new do |menu| %>
      <% menu.with_item(text: "Start new chat", href: new_chat_path, icon: "plus") %>

      <% unless chat.new_record? %>
        <% menu.with_item(
          text: "Edit chat title",
          href: edit_chat_path(chat, ctx: "chat"),
          icon: "pencil",
          options: { data: { turbo_frame: dom_id(chat, "title") } }
        ) %>

        <% menu.with_item(
          text: "Delete chat",
          href: chat_path(chat),
          icon: "trash-2",
          variant: :destructive,
          method: :delete,
          confirm: CustomConfirm.for_resource_deletion("chat")
        ) %>
      <% end %>
    <% end %>
  </div>
</nav>
