<div class="space-y-6">
  <div>
    <h3 class="text-lg font-medium mb-2">Keyboard Navigation</h3>
    <p class="mb-4">This component supports keyboard navigation:</p>

    <ul class="list-disc pl-5 mb-4">
      <li>Use <kbd>Tab</kbd> to focus on the navigation</li>
      <li>Use <kbd>Arrow Up</kbd> and <kbd>Arrow Down</kbd> to navigate between items</li>
      <li>Use <kbd>Enter</kbd> or <kbd>Space</kbd> to activate the selected item</li>
    </ul>
  </div>

  <div class="border border-border rounded-lg p-4 bg-surface">
    <%= component %>
  </div>
</div>