<%# Modern radio group component template %>
<fieldset class="space-y-3">
  <legend class="text-sm font-medium text-primary"><%= legend_text %></legend>
  
  <div class="<%= group_classes %>">
    <% radio_buttons.each do |radio| %>
      <%= render Ui::RadioButtonComponent.new(
        form: form,
        field: field,
        value: radio.value,
        label_text: radio.label,
        checked: radio.checked,
        disabled: radio.disabled,
        required: required
      ) %>
    <% end %>
  </div>
</fieldset>