<%# locals: (form:) %>
<div class="p-3 space-y-4">
  <%= render Ui::InputComponent.new(
    type: "date",
    name: "q[start_date]",
    id: "q_start_date",
    label: "Start date",
    value: @q[:start_date],
    placeholder: "Start date"
  ) %>
  
  <%= render Ui::InputComponent.new(
    type: "date",
    name: "q[end_date]",
    id: "q_end_date",
    label: "End date",
    value: @q[:end_date],
    placeholder: "End date"
  ) %>
</div>
